/* Importing variables from the variables.css file */
@import './variables.css';

/* Styling for the .form-box class */
.form-box {
  border: 2px solid var(--primary-color); /* Set the border color to the primary color from variables */
  border-radius: 25px; /* Rounded corners with a radius of 25px */
  padding: 20px; /* Add padding inside the container */
  background-color: var(--background-color); /* Set background color from variables */
}

  .form-box label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

/* Remove the blue outline on focus */
form input:focus,
form select:focus,
form textarea:focus,
form button:focus {
  box-shadow: none !important; /* Remove the default focus shadow */
  border-color: inherit; /* Inherit the border color from the parent element */
}

/* Styling for required fields that are invalid */
form input:required:invalid,
form select:required:invalid,
form textarea:required:invalid,
form button:required:invalid {
  border-color: rgba(220, 53, 69, 0.6) !important; /* Set a red border color when the field is invalid */
}

/* Styling for required fields that are valid */
form input:required:valid,
form select:required:valid,
form textarea:required:valid {
  border-color: rgba(40, 167, 69, 0.6); /* Set a green border color when the field is valid */
}

