<div class="card-container">
  <div class="card-header">
    <h1>Add New User Profile</h1>
  </div>
  <div class="card-body">
    <form #manageForm="ngForm">
      <div class="row">
        <div class="col-md-6 col-lg-6 mb-3">
          <label class="required" for="arabicName">Arabic Name</label>
          <input type="text"
                 class="form-control"
                 id="arabicName"
                 name="arabicName"
                 placeholder="Enter Arabic Name"
                 required
                 [(ngModel)]="model.nameAr">
        </div>

        <div class="col-md-6 col-lg-6 mb-3">
          <label class="required" for="englishName">English Name</label>
          <input type="text"
                 class="form-control"
                 id="englishName"
                 name="englishName"
                 placeholder="Enter English Name"
                 required
                 [(ngModel)]="model.nameEn">
        </div>

        <div class="col-md-6 col-lg-6 mb-3">
          <label class="required" for="phoneNumber">Phone Number</label>
          <input type="text"
                 class="form-control"
                 id="phoneNumber"
                 name="phoneNumber"
                 placeholder="Enter Phone Number"
                 required
                 [(ngModel)]="model.phoneNumber">
        </div>

        <div class="col-md-12 col-lg-12 mb-3">
          <label class="required" for="description">Description</label>
          <textarea class="form-control"
                    id="description"
                    name="description"
                    required
                    [(ngModel)]="model.description"
                    appSummernote
                    placeholder="Write your description here..."></textarea>
        </div>

        <div class="col-md-12 col-lg-12 mb-3 button-action">
          <button type="reset" class="btn btn-outline-primary">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="manageForm.invalid" (click)="submit()">Submit</button>
        </div>
      </div>
    </form>
  </div>

</div>
